<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nuevo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/admmetodo"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center">
    <h2>Ingrese los datos</h2>
  </ion-text>
  <br>

  <ion-item>
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="business-outline"></ion-icon>
        <ion-input label="Método" labelPlacement="floating" value="" [clearInput]="true"></ion-input>
      </ion-item>
    </ion-list>
  </ion-item>

  <br>
  <ion-button expand="block" color="success" fill="outline" shape="round" href="/tabs/admmetodo">
    Guardar
  </ion-button>

</ion-content>