<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Carritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Desliza para recargar"
      refreshingSpinner="circles" refreshingText="Recargando...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Inicia la zona donde se estaran generando los datos -->
  <ion-item class="ion-no-border" *ngFor="let carrito of personal?.carritos" color="translucent">
    <ion-card button [routerLink]="['vercarrito/', carrito.car_id]">
      <ion-card-header>
        <ion-card-subtitle>
          Fecha: {{carrito.car_fecha}}, {{carrito.car_hora}}hrs
        </ion-card-subtitle>
        <ion-card-title>Carrito #{{carrito.car_id}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Propíetario: {{personal.per_nombre}} </p>
        <ion-badge color="{{carrito.car_clase}}">{{carrito.car_estado}}</ion-badge>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-content>