<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="admcarrito" href="/tabs/admcarrito">
      <ion-icon name="hammer-outline"></ion-icon>
      <ion-label>Admin</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="detalle" href="/detalle">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carrito" href="/tabs/carrito">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>