.ion-color-fondo {
    --ion-color-base: var(--ion-color-fondo, #0a0260) !important;
    --ion-color-base-rgb: var(--ion-color-fondo-rgb, 61, 194, 255) !important;
    --ion-color-contrast: var(--ion-color-fondo-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-fondo-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-fondo-shade, #36abe0) !important;
    --ion-color-tint: var(--ion-color-fondo-tint, #50c8ff)!important;
};
