<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>-- JaguarEats --</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar color="light" show-clear-button="always" clear-icon="trash-bin" animated="true" placeholder="Buscar"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-card-title>Registro</ion-card-title>
            <ion-card-subtitle>Ingrese sus datos</ion-card-subtitle>
          </ion-card-header>
          <!-- Contenido -->
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-input label="Text input" placeholder="Enter text"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Number input" type="number" placeholder="000"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Password input" type="password" value="password"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Email input" type="email" placeholder="email@domain.com"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input label="Telephone input" type="tel" placeholder="888-888-8888"></ion-input>
              </ion-item>

              <ion-item>
                <ion-select justify="start" label="Default label" interface="popover"  placeholder="Favorite Fruit">
                  <ion-select-option value="apple">Apple</ion-select-option>
                  <ion-select-option value="banana">Banana</ion-select-option>
                  <ion-select-option value="orange">Orange</ion-select-option>
                </ion-select>
              </ion-item>

            </ion-list>

            <ion-button id="present-alert">Aceptar</ion-button>
            <ion-alert trigger="present-alert" header="Confirmar" subHeader="Ingreso sus datos"
              message="Datos Guardados!" [buttons]="alertButtons">
            </ion-alert>

         

            <ion-button id="open-loading">Confirmar</ion-button>
            <ion-loading trigger="open-loading" message="Guardando datos..." duration="3000"></ion-loading>
         
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-button  expand="block" (click)="loaded = !loaded">Mostrar</ion-button>
      

      <ion-col *ngIf="loaded">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Hola mundo xd
            <ion-button expand="block" (click)="presentToast('top')">Boton</ion-button>
            <ion-button id="open-toast" expand="block">Botón</ion-button>
            <ion-toast trigger="open-toast" message="Hola =D " [duration]="3000"></ion-toast>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-list>
    <ion-item *ngFor="let item of items; let index">
      <ion-avatar slot="start">
        <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar" />
      </ion-avatar>
      <ion-label>{{ item }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <ion-icon name="document"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="color-palette"></ion-icon>
    </ion-fab-button>
    <ion-fab-button>
      <ion-icon name="globe"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>