<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/admsalon"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Desliza para recargar"
      refreshingSpinner="circles" refreshingText="Recargando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-title>
      <ion-text class="ion-text-center">
        <h2>Ingrese los datos</h2>
      </ion-text>
    </ion-card-title>

    <ion-card-content>

      <ion-list *ngIf="salones as salon">
        <ion-item>
          <ion-icon slot="start" name="business-outline"></ion-icon>
          <ion-input label="Edificio" labelPlacement="floating" value="{{salon.sal_edificio}}"
            [clearInput]="true"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="dice-outline"></ion-icon>
          <ion-input label="Número" labelPlacement="floating" value="{{salon.sal_numero}}"
            [clearInput]="true"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" color="success" href="/tabs/admsalon">
    Guardar
  </ion-button>

</ion-content>