<ion-menu [type]="menuType" contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <img slot="start" alt="Silhouette of mountains" src="/assets/img/admin.png" />
      <ion-title>Menu Admin</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <app-menu></app-menu>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Genero</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Buscar..."></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Desliza para recargar"
        refreshingSpinner="circles" refreshingText="Recargando...">
      </ion-refresher-content>
    </ion-refresher>

    <ion-card>
      <ion-item button *ngFor="let genero of generos">
        <ion-avatar slot="start">
          <img src="assets/img/{{genero.gen_nombre}}.png" alt="Foto" />
        </ion-avatar>

        <ion-label>
          <ion-card-title>
            {{genero.gen_nombre}}
          </ion-card-title>

        </ion-label>

        <ion-button [routerLink]="['/admgenerodetalle', genero.gen_id]">
          <ion-icon name="eye-outline"></ion-icon>
        </ion-button>

        <ion-button [routerLink]="['/admgeneroeditar', genero.gen_id]" color="warning">
          <ion-icon name="pencil"></ion-icon>
        </ion-button>

        <ion-button (click)="alertEliminar(genero.gen_id, genero.gen_nombre)" color="danger"><ion-icon
            name="trash"></ion-icon></ion-button>

      </ion-item>
    </ion-card>

    <app-paginacion [total]="totalGenero" (click)="pagina($event)"></app-paginacion>


  </ion-content>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/admgenerocrear']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>