<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-fab-button slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-fab-button>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Desliza para recargar"
      refreshingSpinner="circles" refreshingText="Recargando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngIf="personal as personal">
    <img class="imagen" src="../../assets/img/{{personal.perFkgenero}}.png" alt="Foto" />
    
    <ion-card>
      <ion-card-title>
        <h3>
          {{personal.per_nombre}} {{personal.per_paterno}}
          {{personal.per_materno}}
        </h3>
      </ion-card-title>
    </ion-card>

    <ion-card>
      <ion-card-subtitle>
        <p>Matrícula:</p>
        <h5>{{ personal.per_matricula }}</h5>
      </ion-card-subtitle>

      <ion-card-subtitle>
        <p>Teléfono:</p>
        <h5>{{ personal.per_telefono }}</h5>
      </ion-card-subtitle>

      <ion-card-subtitle>
        <p>Correo:</p>
        <h5>{{ personal.per_correo }}</h5>
      </ion-card-subtitle>
    </ion-card>
  </ion-card>
</ion-content>
