

<div class="container">
  <h5>Bienvenido  {{nombre}}</h5>
  <div class="wrapper">
    <button>
      <a href="/tabs/admcarrito">Carrito</a>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <button>
      <a href="/tabs/admsalon">Salon</a>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <button>
      <a href="/tabs/adm-personal-mem">Personal Membresia</a>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <button>
      <a href="/tabs/admmetodo">Metodo</a>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <button>
      <a href="/tabs/adm-ver-membresia">Membresia</a>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <button>
      <a href="/tabs/admpersonal">Personal</a>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <button>
      <a href="/tabs/admgenero">Genero</a>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ion-button (click)="logout()" expand="block" shape="round" color="black">
      Salir
    </ion-button>
  </div>
</div>

