<ion-menu [type]="menuType" contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <img slot="start" alt="Silhouette of mountains" src="/assets/img/admin.png" />
      <ion-title>Menu Admin</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <app-menu></app-menu>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Lista de Metodos
      </ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar [debounce]="1000" color="light" show-clear-button="always" clear-icon="trash-bin" animated="true"
        (ionInput)="handleInput($event)" placeholder="Buscar"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Desliza para recargar"
        refreshingSpinner="circles" refreshingText="Recargando...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button href="/tabs/admnuevometodo">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <!-- Inicia la zona donde se estaran generando los datos -->
    <ion-card>
      <ion-list *ngFor="let metodo of metodos">
        <ion-item>
          <ion-label>
            <ion-card-subtitle>
              Método:
            </ion-card-subtitle>
            <ion-card-title>
              {{metodo.met_metodo}}
            </ion-card-title>
          </ion-label>
          <ion-button [routerLink]="['/admnuevometodo', metodo.met_id]">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>

          <ion-button (click)="alertElimiar(metodo.met_id)" color="danger" expandable="true">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card>

    <app-paginacion [total]="totalMetodos" [porPagina]="10" (click)="pagina($event)"></app-paginacion>

  </ion-content>
</div>